body {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 18px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

/* Hero section start heres */

.hero {
  background-color: #1f2937;
  color: #e5e7eb;
  padding: 0 80px;
}

.header {
  justify-content: space-between;
  align-items: center;
  height: 64px;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.header-nav a {
  color: #e5e7eb;
  text-decoration: none;
}

.header-nav a:not(:last-of-type) {
  margin-right: 16px;
}

h1 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.hero-content {
  gap: 200px;
  padding: 80px 0;
  justify-content: center;
}

.hero-content-left {
  gap: 16px;
  max-width: 600px;
}

.hero input[type="button"] {
  appearance: none;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  
  background-color: #3882f6;
  width: fit-content;
  padding: 8px 40px;
  border-radius: 8px;
}

.hero-img {
  width: 400px;
}

/* Info section starts here */

.info {
  margin: 80px 0;
}

.info h2 {
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
  text-align: center;
  margin-bottom: 40px;;
}

.card-container {
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  max-width: 200px;
  gap: 8px;
}

.info-img {
  width: 200px;
  border-radius: 16px;
}

/* Quote section starts here */

.quote {
  background-color: #e5e7eb;
  padding: 120px 160px;
  gap: 24px;
  align-items: center;
}

.quote blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

.quote cite {
  font-weight: 900;
  align-self: flex-end;
}

/* Footer starts here */

footer {
  height: 64px;
  color: #e5e7eb;
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  gap: 8px;
}